<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https:cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>vue card</title>
</head>

<body>

    <div class="container" id="app">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a @click="getSpecificcategory(category)" class="dropdown-item"
                                v-for="category in categories" :key="category" href="#">{{category}}</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <!--  all product card design  -->
        <div class="row" v-if="singleproduct_show">
            <div class="col-md-4" v-for="product in products">
                <div class="card">
                    <img class="card-img-top" :src="product.image" width="" height="" alt="Card image cap">

                    <div class="card-body">
                        <a href="#" @click="singleproducts(product.id)">
                            <h5 class="card-title">{{product.title}}</h5>
                        </a>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">{{product.category}}</p>
                        <p class="card-text">
                            <small class="text-muted">{{product.price}}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- single product card -->
        <div class="card" style="width: 18rem;" v-if="!singleproduct_show">
            
            <img class="card-img-top" :src="singleproductshow.image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{singleproductshow.title}}</h5>
                <p class="card-text">{{singleproductshow.description}}</p>
                <small>price:{{singleproductshow.price}}</small>
            </div>
        </div>
    </div>

</body>



<script>
    const { ref } = Vue
    const app = Vue.createApp({

        data() {
            return {
                products: [],
                categories: [],
                specificategory: [],

                singleproduct_show: true,
                singleproductshow: {}

            };
        },
        methods: {
            getdata() {
                // console.log("hit");
                axios.get('https://fakestoreapi.com/products').then(res => {
                    // console.log(res);
                    this.products = res.data;
                });
            },

            getcategory() {
                axios.get('https://fakestoreapi.com/products/categories').then(res => {
                    // console.log(res);
                    this.categories = res.data;
                });
            },
            // category wise data

            getSpecificcategory(category) {
                let data = category;
                //  console.log(data);
                axios.get('https://fakestoreapi.com/products/category/' + data).then((res) => {
                    this.specificategory = res.data;
                    // console.log(res);
                    this.products = res.data;
                    // console.log(this.products);
                });
            },

            singleproducts(product_id) {
                this.singleproduct_show = false;
                let id = product_id;
                // console.log(id);
                axios.get('https://fakestoreapi.com/products/' + id).then((res) => {
                    this.singleproductshow = res.data;
                    console.log('product', res);
                    console.log(this.singleproductshow);
                });
            },


        },

        created() {
            this.getdata()
            this.getcategory()
            // this.getSpecificcategory()
        },
    })
    app.mount('#app');
</script>
<script src="https:code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https:cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https:cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html>